/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

body {
  font-family: type.$font;
  //background-color: var.$bg-very-light;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
  display: grid;
  place-content: center;
}

h1 {
  color: var.$primary-color;
  text-align: center;
  transform: translateZ(200px);
  backface-visibility: hidden;
}

.card {
  background-color: black;
  width: 640px;
  height: 613px;
  //outline: 1px solid;
}

.card_content {
  text-align: center;
  position: relative;
  padding: 2;
  transition: transform 3s;
  //background-color: var.$bg-very-dark;
  //background-color: aqua;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card:hover .card_content {
  transform: rotateY(.5turn);
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 19.2em 2.5em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card_title {
  transform: translateZ(200px);
}

.card_back {
  transform: rotateY(.5turn);
  color: aliceblue;
  background-image: url("https://images.unsplash.com/photo-1560986752-2e31d9507413?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.card_front {
  background-image: url("https://img.freepik.com/premium-photo/3d-button-3d-switch-3d-illustration_118019-3166.jpg");
}
